body{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}
.text{
    font-size: 1.2em;
    width: 720px;
    text-align: center;
    display: inline-block;
    margin-left: 500px;
}
.naslov{
    font-size: 1.5em;
    text-align: center;
}
.slika{
    background-color: antiquewhite;
    width: 720px;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    font-size: 2.5em;
    text-align: center;
    font-weight: 900;
}
.step{
    display: inline-block;
    margin-top: 50px;
    margin-left: 520px;
}
span{
    font-size: 2em;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

