body{
    margin: auto;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}
.button{
    display: flex;
    border-bottom: #313446 1px solid;
}
.slika{
    margin-top: 10px;
    display: block;
    width: 200px;
    height: 200px;
    color: #313446;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
}
p{
    font-size: 16px;
}
.text{
    display: block;
    width: 700px;
    color: black;
    padding-left: 100px;
}
a{
    text-decoration: none;
    font-size: 16px;
}
h1{
    font-size: 24px;
}
@media screen and (max-width: 480px){
    .cont{
        display: block;
    }
    .button{
        display: block;
        padding: 20px 10px;
    }
    .slika{
        height: 50px;
        text-align: left;
    }
    .text{
        width: auto;
        padding-left: 0px;
    }
}
